// colors
$accentColor = #1c94e0
$textColor = #2c3e50
$postColor = #ac3e40
$borderColor = #e6ecf0
$focusColor = #1b95e0
$codeBgColor = #282c34

// layout
$navbarHeight = 3rem
$sidebarWidth = 20rem
$contentWidth = 740px
$footerHeight = 32px

// responsive breakpoints
$MQNarrow = 959px // pad
$MQMobile = 719px // mobile
$MQMobileNarrow = 419px

// global
$appWidth = 1000px
$toolWidth = 16rem
$pageWidth = 43rem
